html {
    scroll-behavior: smooth;
}

.mySlides {
    display: none;
}


.img_diapo {
    width: auto;
    height: 300px;
}

#btn_left {
    margin-left: 10%;
}

#btn_right {
    margin-right: 10%;
}


.buttons_diapo {
    padding: auto;
}

.btn_control {
    width: 8%;
    height: 8%;
    margin: auto;
    background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 3px;
}

#btnReserve {
    border: solid 3px black;
    border-radius: 50px;
    padding: 10px;
    background-color: white;
    -webkit-transition: 1s;
    /* For Safari 3.1 to 6.0 */
    transition: 1s;
    cursor: pointer;

}

#btnReserve:hover {
    background-color: #e11f26;
    color: black;
}

#btnConfirm {
    border: solid 3px black;
    border-radius: 50px;
    padding: 10px;
    background-color: white;
    -webkit-transition: 1s;
    /* For Safari 3.1 to 6.0 */
    transition: 1s;
    cursor: pointer;

}

#btnConfirm:hover {
    background-color: #eff31a;
    color: black;
}


#btnCancel {
    border: solid 3px black;
    border-radius: 50px;
    padding: 10px;
    background-color: white;
    -webkit-transition: 1s;
    /* For Safari 3.1 to 6.0 */
    transition: 1s;
    color: black;
    margin-top: 20px;
    cursor: pointer;

}

#btnCancel:hover {
    background-color: #f3281a;
    color: black;
}


.caption_img {
    margin-top: -20%;
    position: relative;
}

.text_slider {
    opacity: 0.8;
}


.info_card {
    border-radius: 0;

}

.info {
    background-color: #1a1a1a;
    opacity: 0.8;
}


#reservCard {
    background-color: white;
    color: black;
}

#drawSign {
    border: solid 3px black;
}

@media screen and (max-width: 767.5px) {

    .title_desc {
        display: none;
    }

    .text_slider {
        font-size: 10px;

    }

    .btn_control {
        width: 30px;
        height: 30px;
    }


    #btn_left {
        margin-left: 15%;
    }

    #btn_right {
        margin-right: 15%;
    }


    #reservCard {
        margin-top: 30px;
    }

    #beforeReservation,
    #messageAfterReserve {
        margin-top: 20px;
    }
}


#map {
    height: 400px;
}

footer {
    background-color: black;
}

.socialLincIcone {
    cursor: pointer;
}
